body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

suryansh-box {
  box-sizing: border-box;
}

 /* body{
  min-height: 100vh;
  display: flex;
  font-weight: 1200;
  font-family: 'Times New Roman', Times, serif;
  background: #00aeef;  /* fallback for old browsers */
   /* background: -webkit-linear-gradient(to right,#00aeef,#00395d);   
   background: linear-gradient(to right,#00aeef, #00395d);   */
  
/* }  */ */

/* suryansh-2 {  
  /* body html .app root outer */
  /* width: 100%;
  height: 100%;
} */ */

.suryansh-navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.suryansh-outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}



.suryansh-outer .suryansh-form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.suryansh-outer h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.suryansh-custom-control-label {
  font-weight: 400;
}

.suryansh-forgot-password,
.suryansh-forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.suryansh-forgot-password a {
  color: #167bff;
}

.suryansh-btnLink {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  font-size: 13px;
  /*input has OS specific font-family*/
  color: #167bff;
  cursor: pointer;
}

.suryansh-general {
  width: 600px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
  margin-top: 10%;
}

.suryansh-accnt {
  width: 700px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
  margin-top: 10%;
}

.suryansh-center {
  text-align-last: center;
  border: 2px solid black;
}